# Ignore node_modules folder in vue_fithub
vue_fithub/node_modules

# Ignore node_modules folder in node_fithub
node_fithub/node_modules

# Ignore log files
*.log

# Ignore dotenv files
.env

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore system files from macOS
.DS_Store

# Ignore package-lock.json and yarn.lock files
package-lock.json
yarn.lock
